$button-color: #FF7A00;
$button-color-pressed: #e97100;
.HostEventCard{
    background-color: #F3EDED;
    margin-top: 5%;
    .hostEventButton{
        font-size: 25px !important;
        font-weight: bold;
        margin-top: 5%;
        width: 30%;
        background-color: $button-color;
        border-color: $button-color;

        &:active{
            background-color: $button-color-pressed;
            border-color: $button-color-pressed;
        }
    }
    
    .fieldLabel{
        font-weight: bold !important;
    }
    .inputField{
        height: 3rem;
        &::placeholder{
            font-weight: bold;
        }
    }
}

.hostEventPage{
    width: 40%;
    position: absolute;
    left:35%;
    right:50%;
    top: 35%;
    .eventNameWrapper{
        width: 60%;
        left:15% !important;
        position: absolute;
        margin-top: 0rem !important;
        .fieldLabel{
        }
    }
    .inputFieldDropdown
    {
        width: 120%;
    }
    .continueBtn{
        width: 100%;
    }
    .previousBtn{
        width:100%;
    }
    .fieldLabel{
        text-align: center;
    }
    .calendar{
        width:max-content;
    }
    .buttonsWrapper{
        display: flex;
        .continueBtn{
            width: 50%;
        }
        .previousBtn{
            width: 50%;
        }
    }
}