.followersWrapper{
    margin-left: 25%;
    width: 70%;
    height: 90vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    .followerContainer{
        margin-top: 5%;
        display: flex;
        background-color: white;
        // box-shadow: black 1px 1px 1px 1px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        .followerName{
            height: fit-content;
            margin-left: 3rem;
        }
        .userPFP{
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }
    .followerContainer:nth-child(1)
    {
        margin-top: 0rem;
    }
}

.followersWrapper::-webkit-scrollbar{
    display: none;
}