.followersWrapper{
    .followerContainer{
        display: flex;
        margin-top: 2rem;
        background-color: white;
        // box-shadow: black 1px 1px 1px 1px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        .followerName{
            height: fit-content;
            margin-left: 3rem;
        }
        .userPFP{
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }
}