$header-footer-color: white;
.eventCard{
    .eventCardHeader{
        border-bottom: none;
        background-color: $header-footer-color;
        .eventCardHeaderDetails{
            // display: flex;
            .eventCardHeaderDetail
            {
                margin-left: 10px;
            }
            .eventHostPFP{
                border-radius: 50%;
            }
        }
    }
    .eventCardBody{
        
    }
    .eventCardFooter{
        border-top: none;
        background-color: $header-footer-color;

    }
}