.sidebarWrapper{
    margin-left: auto;
    width:18%;
    float:left;
    height:100vh;
    background-color: #7E1AFF;
    .ProfileDataWrapper{
        text-align: center;
        .userPFP{
            border-radius: 50%;
            width: 100px;
        }
        .username{
            color: white;
        }
        .followers{
            color: #BDA9A9
        }
    }
    .safeMenu{
        color: white;
        .menuItem{
            margin-top: 5rem;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .dangerousMenu{
        .settings{
            color: #BDA9A9;
        }
        .logout{
            color: black;
        }
    }
    .menu{
        margin-left: 2rem;
    }

}