$menu-item-font-size:  23px;
.sidebarWrapper{
    margin-left: auto;
    margin-top: 7%;
    float:left;
    border-right-style: solid;
    border-color: rgba(209, 209, 209, 0.541);

    .ProfileDataWrapper{
        text-align: center;
        display: flex;
        margin-left: 2rem;
        .userPFP{
            border-radius: 50%;
            width: 36px;
            height: 36px;
        }
        .username{
            margin-left: .5rem;
            font-size: $menu-item-font-size;
            color: white;
        }
        .followers{
            color: #BDA9A9
        }
        a{
            text-decoration: none;
        }
    }
    .safeMenu{
        color: white;
        .menuItem{
            margin-top: 5rem;
            font-size: $menu-item-font-size;
            padding-right: 1rem;
            a{
                text-decoration: none;
                color: #F9F4FF;
                &:hover{
                    color: rgb(237, 237, 237);
                }
            }
        }
    }
    .dangerousMenu{
        margin-top: 10rem;
        .settings{
            color: black;
        }
        .logout{
            color: black;
        }
    }
    .menu{
        margin-left: 2rem;
    }

    @media screen and (max-width: 1240px) {
        .menuItemName{
            display: none;
        }
        .dangerousMenu{
            height:100vh;
        }    
    }
    @media screen and (max-width: 810px) {
        .menuItemName{
            display: none;
        }
        .dangerousMenu{
            margin-top: 12rem;
            height:100vh;
        }    
    }
    @media screen and (max-width: 375px) {
        .menuItemName{
            display: none;
        }
        .dangerousMenu{
            margin-top: 5rem;
            height:100vh;
        }    
    }
}