$menu-item-font-size:  20px;
$menu-item-font-weight: 300;
.sidebarWrapper{
    margin-left: auto;
    float:left;
    border-right-style: solid;
    border-color: rgba(209, 209, 209, 0.541);
    background-color: #ffffff;
    height: 100vh;
    width:20rem;

    .ProfileDataWrapper{
        text-align: center;
        display: flex;
        margin-left: 2rem;
        margin-top: 2rem;
        border-radius: 5px;
        .profileDataContainer {
            padding:1rem;
        }
        &:hover{
            background-color: rgba(238, 238, 238, 0.829);
            cursor: pointer;
        }
        .userPFP{
            border-radius: 50%;
            width: 36px;
            height: 36px;
        }
        .username{
            margin-left: .5rem;
            line-height: 2.1rem;
            font-size: $menu-item-font-size;
            font-weight: $menu-item-font-weight;
            color: black;
        }
        .followers{
            color: #BDA9A9
        }
        a{
            text-decoration: none;
        }
    }
    .safeMenu{
        color: white;
        .menuItem{
            margin-top: 2.8rem;
            font-size: $menu-item-font-size;
            font-weight: $menu-item-font-weight;
            width: 100%;
            padding:1rem;
            padding-right: -1rem;
            border-radius: 5px;
            &:hover{
                background-color: rgba(238, 238, 238, 0.829);
                cursor: pointer;
            }
            a{
                text-decoration: none;
                // color: #F9F4FF;
                color: black;
            }
        }

    }
    .dangerousMenu{
        padding:1rem;
        .settings{
            margin-top: 3rem;
            color: black;
            font-size: $menu-item-font-size;
            font-weight: $menu-item-font-weight;
        }
        .logout{
            margin-top: 0rem;
            color: black;
            font-size: $menu-item-font-size;
            font-weight: $menu-item-font-weight;
        }
        
    }
    .menu{
        margin-left: 2rem;
    }
    .HeaderWrapper{
        
        .homeLink{
            text-decoration: none;
            color: black;
            
        }
    }
    @media screen and (max-width: 1240px) {

        width:max-content;
        
        .menuItemName{
            display: none;
        }
        .dangerousMenu{
            height:100vh;
        }    
    }
    @media screen and (max-width: 810px) {
        .menuItemName{
            display: none;
        }
        .dangerousMenu{
            margin-top: 6rem;
            height:100vh;
        }    
    }
    @media screen and (max-width: 375px) {
        .menuItemName{
            display: none;
        }
        .dangerousMenu{
            margin-top: 6rem;
            height:100vh;
        }    
    }
    
}