.EventCard{
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 5rem;
    margin-top: 1rem;
    .EventCardImage{
        width:100%;
        padding-right: 0% !important;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    .EventCardBody{
        padding:0px !important;
    }
    .EventCardSubtitle{
        margin-top: 1rem;
    }
    .eventHostPFP{
        width:36px;
        border-radius: 5%;
    }
    .EventHosterDataContainer{
        display: flex;
    }
    .EventInteractionButtons{
        .LearnMoreButton{
            margin-left: 71%;
        }
    }
    .EventDetailsContainer{
        display: flex;
    }
    .EventInteractionButtons{
        margin-left: auto;
    }
}