.MessagesSideMenu {
  position: fixed;
  bottom: 0%;
  right: 0%;
  box-shadow: rgba(0, 0, 0, 0.198) 0px 0px 40px 0px;
  background-color: white;
  min-width: 350px;
  max-width: 400px;
  height: 63px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  font-weight: 700;
  line-height: 24px;
  padding-top: 1.2rem;
  font-size: 20px;
}

.MessagesButtonsWrapper {
  margin-left: auto;
  margin-right: 2rem;
}
.MessagesButtonsWrapper .MessagesIcon {
  margin-left: 1rem;
}
.MessagesButtonsWrapper .MessagesIcon:hover {
  cursor: pointer;
}

.MessagesTextWrapper {
  width: 65%;
}
.MessagesTextWrapper:hover {
  cursor: pointer;
}
.MessagesTextWrapper .MessagesText {
  padding: 2rem;
}
.MessagesTextWrapper .MessagesText-Expanded {
  padding: 2rem;
}

.chatInteractionButtons {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 350px;
  border-top-style: solid;
  border-width: 1px;
  border-color: rgb(239, 243, 244);
}
.chatInteractionButtons .sendMessageInputField {
  margin-top: 5%;
}
.chatInteractionButtons .sendMessageBtn {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5%;
}
.chatInteractionButtons .GoBackMessagesIcon {
  margin-top: 1%;
  margin-left: 2%;
}
.chatInteractionButtons .GoBackMessagesIcon:hover {
  cursor: pointer;
}

.ExpandedMessagesSideMenuWrapper {
  position: fixed;
  bottom: 0%;
  right: 0%;
}
.ExpandedMessagesSideMenuWrapper .ExpandedMessagesSideMenu {
  box-shadow: rgba(0, 0, 0, 0.198) 0px 0px 40px 0px;
  background-color: white;
  min-width: 350px;
  max-width: 400px;
  height: 63px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  font-weight: 700;
  line-height: 24px;
  padding-top: 1.2rem;
  font-size: 20px;
}
.ExpandedMessagesSideMenuWrapper .ChatsWrapper {
  min-width: 350px;
  max-width: 400px;
  height: 90vh;
  background-color: white;
}
.ExpandedMessagesSideMenuWrapper .ChatsWrapper .ChatContainer {
  display: flex;
}
.ExpandedMessagesSideMenuWrapper .ChatsWrapper .ChatContainer:hover {
  cursor: pointer;
  background-color: #f3f2f2;
}
.ExpandedMessagesSideMenuWrapper .ChatsWrapper .ChatContainer .ChatInfoWrapper .ChatUsername {
  font-weight: 700;
  font-size: 15px;
  padding-top: 1rem;
}
.ExpandedMessagesSideMenuWrapper .ChatsWrapper .ChatContainer .ChatInfoWrapper .ChatLatestMessage {
  color: gray;
  margin-top: -10%;
}
.ExpandedMessagesSideMenuWrapper .ChatsWrapper .ChatContainer .ChatProfilePicture {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  padding: 5px;
  margin-top: 10px;
}
.ExpandedMessagesSideMenuWrapper .SpecificChatContainer {
  height: 80vh;
  overflow: scroll;
  min-width: 350px;
  max-width: 400px;
}
.ExpandedMessagesSideMenuWrapper .SpecificChatContainer .receiverMessage {
  margin-right: 20%;
  background-color: rgb(239, 243, 244);
  color: rgb(15, 20, 25);
  max-width: 115px;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.ExpandedMessagesSideMenuWrapper .SpecificChatContainer .senderMessage {
  max-width: 115px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-left: auto;
  text-align: end;
  background-color: rgb(29, 155, 240);
  color: white;
}
.ExpandedMessagesSideMenuWrapper .SpecificChatContainer .message {
  padding: 20px;
  margin-top: 2%;
  border-radius: 24px;
}/*# sourceMappingURL=MessagesStyles.css.map */