$shortTextFontSize: 30px;
.card{
    margin-top:  0% !important;
    margin-left: 20rem !important;
    font-weight: bold;
    font-size: large;
    .eventCardHeader{
        .eventHeader{
            width: fit-content;
            padding: 1rem;
            background-color: transparent;
        }
        .dotsMenu{
            float: right;
            margin-left: auto;
            padding-top: 2rem;
            font-size: xx-large;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .optionsDropdown{
        display: none;
        text-align: center;
        .option:nth-child(2){
            margin-left: 25%;
        }
        .option{
            text-decoration: none;
            color: black;
            &:hover{
                color: rgb(58, 58, 58);
                cursor: pointer;
            }
        }
    }
    .eventCardDescWrapper{
        padding-top: 5%
    }
    .eventCardDescription{
        font-size: $shortTextFontSize;
        font-weight: bold;
        margin-left: 5rem;
    }
    .eventDetails{
        font-size: $shortTextFontSize;
    }
    .eventHostData{
        margin-top: 0rem;
        margin-left: 2rem;
        .eventHostDataContainer{
            margin-top: 2%;
        }
        .eventHostPfp{
            border-radius: 50%;
            width: 54px;
        }
        .eventHostName{
            font-size: $shortTextFontSize;
            font-weight: bold;
            margin-left: 1.5rem;
            margin-top: 0.3rem;
        }
        .eventHostBio{
            font-size: $shortTextFontSize;
            font-weight: bold;
        }
        .eventDetailComponentLink{
            text-decoration: none;
            color: black;
        }
        .ShowAttendeesText{
            &:hover{
                cursor: pointer;
                color: gray;
            }
        }
    }
    .eventDetailsMenu{
        padding-top: 2%;
        .eventDetail{
            padding-left: 10%;
        }
        .eventDetail:nth-child(2)
        {
            padding-left: 14%;
        }
    }
    .attendButtonWrapper{
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
        padding-right: 7%;
        padding-left: 24%;
        .attendButton{
            background-color: #FF7A00;
            border-color: #FF7A00;
            color: white;
            font-weight: bold;
            font-size: large;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.198) 2px 2px 4px 0px;

            &:active{
                background-color: #cf6400;
                border-color: #cf6400;
                color: rgba(255, 255, 255, 0.862);
            }
        }
    }
    .card-header{
        background-color: transparent;
    }
}

.carousel img:hover {
    opacity: 0.5; /* set the opacity to 50% */
}

.carousel-item:hover .overlay {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* set the background color to 50% transparent black */
    display: none;
    color: rgba(255,255,255,0.5);
    &:hover{
        cursor: pointer;
    }
}