.comment{
    width: 50%;
    .InteractionButtonsWrapper{
        .btn{
            border-style: none;

            &:active{
                color: rgba(0, 0, 0, 0.614);
                border-style: none;
            }
        }
    }

    .commentHeader{
        background-color: white;
        .commentOwnerInfo{
            .commentOwnerNickname{
                line-height: 2.5rem;
            }
            .commentOwnerPFP{
                width:52px !important;
                border-radius: 50%;
            }
        }
    }
    .commentFooter{
        background-color: white;
    }
}