.welcomeText{
    font-size: 3rem;
    color: white;
    .signUpButtonWrapper{
        text-align: center !important;
    }
}



.mapIcon{
    margin-left: 1rem;
}

.secondRow{
    .welcomeImageWrapper{
        .welcomeImage{
            width: 25rem;
        }
    }
    margin-top: 6rem;
}
