.welcomeText{
    font-size: 3rem;
    color: white;
    .signUpButtonWrapper{
        .signUpButtonLink{
            text-decoration: none;
            color: white;
        }
        text-align: center !important;
    }
}



.mapIcon{
    margin-left: 1rem;
}

.secondRow{
    .welcomeImageWrapper{
        .welcomeImage{
            width: 25rem;
        }
    }
    margin-top: 6rem;
}
.EventCardsWrapper{
    padding: 20px;
}

.EventCardsContainer{
    margin-left: 18% !important;
}