.welcomeText{
    font-size: 3rem;
    font-weight: 300;
    color: black;
    .signUpButtonWrapper{
        font-weight: bold;
        .signUpButtonLink{
            text-decoration: none;
            color: black;
            font-weight: 400;

        }
        text-align: center !important;
    }
}



.mapIcon{
    margin-left: 1rem;
}

.secondRow{
    .welcomeImageWrapper{
        .welcomeImage{
            width: 25rem;
        }
    }
    margin-top: 6rem;
}
.EventCardsWrapper{
    padding: 20px;
    // height: 100vh;
}

.EventCardsContainer{
    margin-left: 18% !important;
}

.spinner-border{
    position: absolute;
    left:50%;
}

@media screen and (max-height: 1440px) {
    .EventCardsWrapper{
        display: block !important;
    }
    .loadingSpinnerWrapper{
        margin-left: 10%;
        margin-top: 1%;
    }
}