.profilePageWrapper{
    .profilePageBackgroundImage{
        height: 200px;
        background-color: black;
    }
    .userPFP{
        width: 10rem;
        border-radius: 50%;
        margin-top: 5rem;
        margin-left: 3rem;
    }
    .profilePageUserDetails{
        background-color: white;
        
        .username{
            margin-top: 3rem;
            margin-left: 2.5rem;
            font-size: 40px;
            font-weight: bold;
            color: black;
        }
        .followers{
            margin-left: 4rem;
            font-size: 25px;
            font-weight: bold;
            color: black;
        }
        .userInteractionBtns{
            margin-top: 8rem;
            margin-left: auto;
            margin-right: 1rem;
            font-size: 25px;
            .messageUser{
                font-size: larger;
                font-weight: bold;
                color: #008CDB;
                &:hover{
                    cursor: pointer;
                }
            }
            .followUser{
                font-size: larger;
                font-weight: bold;
                color: #008CDB;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .userEvents{
        height: 700px;
        background-color: white;
        .EventsActivity{

        }
    }
}