@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap");
.profilePageWrapper{
    font-family: "Open Sans", sans-serif;
    margin-left: 20%;
    .profilePageBackgroundImageWrapper{
        height: 200px;
        background-color: black;
    }
    .userPFP{
        width: 7rem;
        border-radius: 50%;
        margin-top: -4rem;
        margin-left: 2rem;
    }
    .userBackgroundPicture{
        height:200px;
        width: 100%;
    }
    .profilePageUserDetails{
        background-color: white;
        
        .username{
            margin-top:2.5rem;
            margin-left: 2rem;
            margin-bottom: -6rem;
            font-size: 40px;
            font-weight: bold;
            color: black;
        }
        .followers{
            margin-left: 2rem;
            margin-top: 5rem;
            font-size: 25px;
            font-weight: bold;
            color: black;
            text-decoration: none;
            &:hover{
                cursor: pointer;
                color: rgb(95, 95, 95);
            }
        }
        .userInteractionBtns{
            padding-top: 5rem;
            margin-left: auto;
            margin-right: 1rem;
            font-size: 25px;
            .messageUser{
                font-size: larger;
                font-weight: bold;
                color: #008CDB;
                &:hover{
                    cursor: pointer;
                }
            }
            .followUser{
                font-size: larger;
                font-weight: bold;
                color: #008CDB;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .userEvents{
        border-top-style: solid;
        height: 700px;
        background-color: white;
        .moreOptionsButton{
            float:right;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
            &::after{
                display: none;
            }
        }
        .userActivityHeader{
            margin-top: 2rem;
            margin-left: 2rem;
        }
        .EventsActivity{
            .eventPost{
                    border-style: solid;
                    width: 50%;
                    margin-left: 25%;
                    // height: 50vh;
            }
            .postInteractionButtons{
                text-align: center;
                .interactionButton{
                    &:hover{
                        cursor: pointer;
                        color: gray;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px)
{
    .profilePageWrapper{
        margin-left: 19%;
        width: 87%;
    }
}