.profilePageWrapper{
    .profilePageBackgroundImage{
        height: 200px;
        background-color: black;
    }
    .userPFP{
        width: 15rem;
        border-radius: 50%;
        margin-top: 5rem;
        margin-left: 2rem;
    }
    .profilePageUserDetails{
        background-color: white;
        
        .username{
            margin-top:7rem;
            margin-left: 4rem;
            font-size: 40px;
            font-weight: bold;
            color: black;
        }
        .followers{
            margin-left: 5.7rem;
            font-size: 25px;
            font-weight: bold;
            color: black;
            text-decoration: none;
            &:hover{
                color: rgb(95, 95, 95);
            }
        }
        .userInteractionBtns{
            margin-top: 10rem;
            margin-left: auto;
            margin-right: 1rem;
            font-size: 25px;
            .messageUser{
                font-size: larger;
                font-weight: bold;
                color: #008CDB;
                &:hover{
                    cursor: pointer;
                }
            }
            .followUser{
                font-size: larger;
                font-weight: bold;
                color: #008CDB;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .userEvents{
        border-top-style: solid;
        height: 700px;
        background-color: white;
        .userActivityHeader{
            margin-top: 2rem;
            margin-left: 2rem;
        }
        .EventsActivity{

        }
    }
}

@media screen and (max-width: 1440px)
{
    .profilePageWrapper{
        margin-left: 19%;
        width: 87%;
    }
}