$hover-ellipsis-color: #d3d4d526;
.posterPFP{
    width: 2.5rem;
    border-radius: 50%;
}

.posterUsername{
    margin-left: 0.3rem;
}

.postInteractionButtons{
    background-color: white;
}
.eventPost{
    // margin-top: 2rem !important;
    margin-left: 21% !important;
    width: 90vh;
    background-color: white;
}
.eventHeader{
    background-color: white;
}
.postOptions{
    float: right;
    &:hover{
        cursor: pointer;
    }
}
.morePostOptionsButton{
    margin-top: -5% !important;
    background-color: white;
    border-color: white;
    float:right;
    &::after{
        display: none;
    }
    &:hover{
        background-color: $hover-ellipsis-color;
        border-color: $hover-ellipsis-color;
    }
}
.editEventModal{
    position: absolute;
}
.sharedPostIndicator{
    padding-left: 15%;
    margin-top: 2rem !important;
    margin-bottom: -2rem !important;

    display: flex;
    .shareText{
            line-height: 1;
            padding-left: 1rem;
    }
}
.PostImageWrapper{
    .PostImage{
        width: 30%;
        height: 20vh;
        margin-left: 2%;
        &:first-child{
            margin-left: 0%;
        }
        &:hover{
            opacity: 0.8;
            cursor: pointer;
        }
    }
}