$hover-ellipsis-color: #d3d4d526;
.posterPFP{
    width: 2.5rem;
    border-radius: 50%;
}

.posterUsername{
    margin-left: 0.3rem;
}

.postInteractionButtons{
    background-color: white;
}
.eventPost{
    // margin-top: 2rem !important;
    background-color: white;
}
.eventHeader{
    background-color: white;
}
.postOptions{
    float: right;
    &:hover{
        cursor: pointer;
    }
}
.moreOptionsButton{
    margin-top: -5% !important;
    background-color: white;
    border-color: white;
    &:hover{
        background-color: $hover-ellipsis-color;
        border-color: $hover-ellipsis-color;
    }
}
.editEventModal{
    position: absolute;
}
.sharedPostIndicator{
    padding-left: 15%;
    margin-top: 2rem !important;
    margin-bottom: -2rem !important;

    display: flex;
    .shareText{
            line-height: 1;
            padding-left: 1rem;
    }
}
.PostImage{
    width: 30%;
    height: 20vh;
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}