$hover-ellipsis-color: #d3d4d526;
.posterPFP{
    width: 2.5rem;
    border-radius: 50%;
}

.posterUsername{
    margin-left: 0.3rem;
}

.postInteractionButtons{
    background-color: white;
}
.eventPost{
    background-color: white;
}
.eventHeader{
    background-color: white;
}
.postOptions{
    float: right;
    &:hover{
        cursor: pointer;
    }
}
.moreOptionsButton{
    margin-top: -5%;
    background-color: white;
    border-color: white;
    &:hover{
        background-color: $hover-ellipsis-color;
        border-color: $hover-ellipsis-color;
    }
}