.settingsPageWrapper{
    .settingsContainer{
        width: 100vh;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left:0;
        right: 0;
        
        background-color: white;
        display: flex;
        .settingsSideMenu{
            width: 30vh;
            float: left;
        }
        .sideMenuOption{
            padding: 1rem;
            &:hover{
                background-color: rgba(128, 128, 128, 0.288);
                cursor: pointer;
            }
        }

        .section{
            float: right;
            width: 100%;
            // margin-left: 25%;
            // border-style: solid;
            .inputField{
                height: fit-content;
                // margin-top: 2rem;
                margin-right: 15rem;
            }
            .label{
                width: 100%;
            }
            .button{
                // margin-left: 5.5rem;
                margin-top: 2rem;
                width: 70%;
            }
        }
        .blockedUsersSectionContainer
        {
            height: 35vh;
            overflow-y: scroll;
            -ms-overflow-style: none; 
            scrollbar-width: none;
            .blockedUserContainer{
                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                // box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
                margin-top: 2rem;
                .unblockButton{
                    margin-right: 2rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
            } 
        }
        .blockedUsersSectionContainer::-webkit-scrollbar{
            display: none;
        }
    }
}