@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap');
.settingsPageWrapper{
    font-family: 'Open Sans', sans-serif;
    .settingsContainer{
        width: 100vh;
        height: 100vh;
        position: absolute;
        margin-left: 30%;
        margin-right: auto;
        left:0;
        right: 0;
        background-color: white;
        display: flex;
        .settingsSideMenu{
            width: 40vh;
            float: left;
            border-right-style: solid;
            border-right-color: #D3D3D3;
            border-width: 1px;
        }
        

        .section{
            float: right;
            width: 100%;
            padding-top: 2rem;
            .sectionHeader{
                margin-left: 2.9rem;
                margin-top: 0.5rem;
                margin-bottom: 2rem;
            }
            .inputFieldWrapper{
                margin-left: 3rem;
            }
            .inputField{
                height: fit-content;
                margin-right: 11rem;
            }
            .label{
                width: 100%;
            }
            .button{
                margin-top: 2rem;
                margin-left: 3rem;
                width: 70%;
            }
        }
        .blockedUsersSectionContainer
        {
            height: 100vh;
            width: 80vh;
            overflow-y: scroll;
            -ms-overflow-style: none; 
            scrollbar-width: none;
            .blockedUserContainer{
                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                margin-top: 2rem;
                .unblockButton{
                    margin-right: 2rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
            } 
        }
        .blockedUsersSectionContainer::-webkit-scrollbar{
            display: none;
        }
    }
    .blockedUserPFP{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 2rem;
    }
    .blockedUsername{
        margin-left: 5%;
    }

    .settingsHeaderWrapper{
        display: flex;
        margin-bottom: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .sideMenuOption{
        display: flex;
        padding: 1rem;
        padding-left: 2rem;
        margin-top: 3rem;
        &:hover{
            background-color: rgba(128, 128, 128, 0.288);
            cursor: pointer;
        }
        .sideMenuOptionRightAngleIcon{
            margin-left: auto;
            padding-top: 0.25rem;
        }
        .sideMenuOptionLeftIcon{
            margin-right: auto;
            padding-top: 0.25rem;
        }
    }
}