.SignUpComponentWrapper{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);

    .buttonWrapper{
        .signUpButton{
            font-weight: bold;
            width: 10rem;
            font-size: larger;
        }
    }
    .signUpText{
        font-weight: bold;
        font-size: 3rem;
    }
    .emailUsernameForms{
        .emailField{
            margin-right: 2%;
        }
    }
    .passwordForms{
        
        .passwordField{
            margin-right: 2%;
        }

    }
    .field{
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        border-radius: 0.375rem !important;
    }
}
.AlreadyRegisteredWrapper{
    .alreadyRegistered{
        font-weight: bold;
        .loginLink{
            text-decoration: none;
            transition: 0.5s linear;
        }
    }
}