
.DayContainer{
    color: white;
    width: 10%;
    height: 25vh;
    text-align: center;
    border-radius: 5%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-style: solid;
    border-bottom: none;
    border-width: 0.1rem;
    border-color: rgba(0, 0, 0, 0.4);
    .DayNumber{
        font-size: 5rem;
        font-weight: bold;
    }
}

.CalendarWrapper{
    .CalendarContainer{
        width: 50%;
    }
}
.c1 .rbc-event, .rbc-day-slot .rbc-background-event{
    background-color: red !important;
}
.weekdaysContainer{
    
    .weekdayContainer{
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }
}

.MonthSelectorWrapper{
    display: flex;
    .caret{
        font-size: 3rem;
        color: white;
        &:hover{
            cursor:pointer;
        }
        &:active{
            color: rgb(237, 237, 237);
        }
    }
    .MonthSelector{
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
}

